*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}

html,body{
    width: 100%;
    height: 100%;
}

#minicircle{
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: white;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
}


.bounding{
    width: fit-content;
    
    overflow: hidden;
}

.bounding .boundingelem{
    transform: translateY(100%);
}

#main{
    width: 100%;
    background-color: black;
}

#hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

#nav{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: white;
}

#nav a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

#heading{
    margin-top: 90px;
}

#heading h1{
    margin-left: 30px;
    opacity: .6;
    line-height: 1;
    font-size: 8vw;
    font-weight: 900;
}

#heading #secondh1{
    margin-left: 204px;

}

.blocktext{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
    

}

.blocktext h5{
    text-align: right;
    font-size: 16px;
    text-transform: uppercase;
}

#chotiheadings{
    margin-top: 100px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;

}

#chotiheadings h5{
    text-transform: uppercase;
    text-align: right;
    font-size: 1vw;
}

#herofooter{
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#herofooter a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

#herofooter #iconset{
    display: flex;
    align-items: center;
    gap: 5px;
}

#second {
    width: 100%;
    height: 120vh;
    background-color: black;
    padding-top: 150px;
    padding-left: 28px;
    color: white;
    position: relative;
}

.elem {
    position: relative;
    width: 85%;
    border-top: 1px solid #888;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
}

.elem h1 {
    text-transform: uppercase;
    font-size: 8vw;
    opacity: 0.7;
    padding-top: 15px;
    padding-bottom: 15px;
}

.elem.last {
    border-bottom: 1px solid #888;
}

.elem h5 {
    font-size: 1vw;
}

.elem img {
    position: absolute;
    height: 220px; /* Increased size */
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition: transform 0.2s ease;
}



#about{
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    
    height: 80vh;
    background-color: black;
    color: #ffffff;
    padding-left: 27vw;
    padding-top: 3vw;
}

#imageabout{
    
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#imageabout img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  #textabout {
    max-width: 600px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #ffffff;
    padding: 0 20px;
  }

  #textabout a{
    padding: 12px 22px;
    border: 1px solid #ffffff;
    border-radius: 100px;
    text-decoration: none;
    color: #ffffff;


  }

  #textabout h5{
    text-transform: uppercase;
    opacity: .7;
    margin-bottom: 10px;
  }

  #textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
  }

#subscribe{
    background-color: black;
    color: white;
    padding: 20px 30px;
    padding-bottom: 7vw;

}

#subscribe h5{
    text-transform: uppercase;
    opacity: .6;
}

#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}


#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    background-color: black;
    color: #ffffff;

}


#footerleft{
    display: flex;
     gap: 30px;
     


}

#footerright{
    display: flex;
    gap: 30px;

}

#footer a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}